@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
.page__wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

body {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    font-family: var(--font-inter);
}