@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
.page__wrapper {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    position: relative;
}

body {
    min-height: 100dvh;
    min-height: calc(var(--vh, 1vh) * 100);
    font-family: var(--font-inter);
}

/* Если хотите гарантированно применить везде, можно дублировать: */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 4px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background: #E1ECFB;
  border-radius: 10px;
}
