* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

button {
    background: none;
    border: none;
}

body {
    margin: 0 !important;
}

// #root {
//     height: 100vh;
// }

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
  }

input[type="date"] {
    &::-webkit-calendar-picker-indicator {
        color: rgb(0 0 0 / 0%);
        opacity: 1;
        display: block;
        background: url("data:image/svg+xml, <svg viewBox='0 0 20 20' fill='rgba(68, 73, 79, 1)' xmlns='http://www.w3.org/2000/svg'><g><path fill-rule='evenodd' clip-rule='evenodd' d='M6.00016 1.33337C6.17697 1.33337 6.34654 1.40361 6.47157 1.52864C6.59659 1.65366 6.66683 1.82323 6.66683 2.00004V2.66671H13.3335V2.00004C13.3335 1.82323 13.4037 1.65366 13.5288 1.52864C13.6538 1.40361 13.8234 1.33337 14.0002 1.33337C14.177 1.33337 14.3465 1.40361 14.4716 1.52864C14.5966 1.65366 14.6668 1.82323 14.6668 2.00004V2.66671H16.6668C17.1973 2.66671 17.706 2.87742 18.081 3.25249C18.4561 3.62757 18.6668 4.13627 18.6668 4.66671V16.6667C18.6668 17.1971 18.4561 17.7058 18.081 18.0809C17.706 18.456 17.1973 18.6667 16.6668 18.6667H3.3335C2.80306 18.6667 2.29436 18.456 1.91928 18.0809C1.54421 17.7058 1.3335 17.1971 1.3335 16.6667V4.66671C1.3335 4.13627 1.54421 3.62757 1.91928 3.25249C2.29436 2.87742 2.80306 2.66671 3.3335 2.66671H5.3335V2.00004C5.3335 1.82323 5.40373 1.65366 5.52876 1.52864C5.65378 1.40361 5.82335 1.33337 6.00016 1.33337ZM13.3335 4.00004V4.66671C13.3335 4.84352 13.4037 5.01309 13.5288 5.13811C13.6538 5.26314 13.8234 5.33337 14.0002 5.33337C14.177 5.33337 14.3465 5.26314 14.4716 5.13811C14.5966 5.01309 14.6668 4.84352 14.6668 4.66671V4.00004H16.6668C16.8436 4.00004 17.0132 4.07028 17.1382 4.1953C17.2633 4.32033 17.3335 4.4899 17.3335 4.66671V6.66671H2.66683V4.66671C2.66683 4.4899 2.73707 4.32033 2.86209 4.1953C2.98712 4.07028 3.15669 4.00004 3.3335 4.00004H5.3335V4.66671C5.3335 4.84352 5.40373 5.01309 5.52876 5.13811C5.65378 5.26314 5.82335 5.33337 6.00016 5.33337C6.17697 5.33337 6.34654 5.26314 6.47157 5.13811C6.59659 5.01309 6.66683 4.84352 6.66683 4.66671V4.00004H13.3335ZM2.66683 8.00004V16.6667C2.66683 16.8435 2.73707 17.0131 2.86209 17.1381C2.98712 17.2631 3.15669 17.3334 3.3335 17.3334H16.6668C16.8436 17.3334 17.0132 17.2631 17.1382 17.1381C17.2633 17.0131 17.3335 16.8435 17.3335 16.6667V8.00004H2.66683ZM9.3335 10C9.3335 9.82323 9.40373 9.65366 9.52876 9.52864C9.65378 9.40361 9.82335 9.33337 10.0002 9.33337C10.177 9.33337 10.3465 9.40361 10.4716 9.52864C10.5966 9.65366 10.6668 9.82323 10.6668 10C10.6668 10.1769 10.5966 10.3464 10.4716 10.4714C10.3465 10.5965 10.177 10.6667 10.0002 10.6667C9.82335 10.6667 9.65378 10.5965 9.52876 10.4714C9.40373 10.3464 9.3335 10.1769 9.3335 10ZM12.6668 9.33337C12.49 9.33337 12.3204 9.40361 12.1954 9.52864C12.0704 9.65366 12.0002 9.82323 12.0002 10C12.0002 10.1769 12.0704 10.3464 12.1954 10.4714C12.3204 10.5965 12.49 10.6667 12.6668 10.6667C12.8436 10.6667 13.0132 10.5965 13.1382 10.4714C13.2633 10.3464 13.3335 10.1769 13.3335 10C13.3335 9.82323 13.2633 9.65366 13.1382 9.52864C13.0132 9.40361 12.8436 9.33337 12.6668 9.33337ZM14.6668 10C14.6668 9.82323 14.7371 9.65366 14.8621 9.52864C14.9871 9.40361 15.1567 9.33337 15.3335 9.33337C15.5103 9.33337 15.6799 9.40361 15.8049 9.52864C15.9299 9.65366 16.0002 9.82323 16.0002 10C16.0002 10.1769 15.9299 10.3464 15.8049 10.4714C15.6799 10.5965 15.5103 10.6667 15.3335 10.6667C15.1567 10.6667 14.9871 10.5965 14.8621 10.4714C14.7371 10.3464 14.6668 10.1769 14.6668 10ZM15.3335 12C15.1567 12 14.9871 12.0703 14.8621 12.1953C14.7371 12.3203 14.6668 12.4899 14.6668 12.6667C14.6668 12.8435 14.7371 13.0131 14.8621 13.1381C14.9871 13.2631 15.1567 13.3334 15.3335 13.3334C15.5103 13.3334 15.6799 13.2631 15.8049 13.1381C15.9299 13.0131 16.0002 12.8435 16.0002 12.6667C16.0002 12.4899 15.9299 12.3203 15.8049 12.1953C15.6799 12.0703 15.5103 12 15.3335 12ZM12.0002 12.6667C12.0002 12.4899 12.0704 12.3203 12.1954 12.1953C12.3204 12.0703 12.49 12 12.6668 12C12.8436 12 13.0132 12.0703 13.1382 12.1953C13.2633 12.3203 13.3335 12.4899 13.3335 12.6667C13.3335 12.8435 13.2633 13.0131 13.1382 13.1381C13.0132 13.2631 12.8436 13.3334 12.6668 13.3334C12.49 13.3334 12.3204 13.2631 12.1954 13.1381C12.0704 13.0131 12.0002 12.8435 12.0002 12.6667ZM10.0002 12C9.82335 12 9.65378 12.0703 9.52876 12.1953C9.40373 12.3203 9.3335 12.4899 9.3335 12.6667C9.3335 12.8435 9.40373 13.0131 9.52876 13.1381C9.65378 13.2631 9.82335 13.3334 10.0002 13.3334C10.177 13.3334 10.3465 13.2631 10.4716 13.1381C10.5966 13.0131 10.6668 12.8435 10.6668 12.6667C10.6668 12.4899 10.5966 12.3203 10.4716 12.1953C10.3465 12.0703 10.177 12 10.0002 12ZM6.66683 12.6667C6.66683 12.4899 6.73707 12.3203 6.86209 12.1953C6.98712 12.0703 7.15669 12 7.3335 12C7.51031 12 7.67988 12.0703 7.8049 12.1953C7.92992 12.3203 8.00016 12.4899 8.00016 12.6667C8.00016 12.8435 7.92992 13.0131 7.8049 13.1381C7.67988 13.2631 7.51031 13.3334 7.3335 13.3334C7.15669 13.3334 6.98712 13.2631 6.86209 13.1381C6.73707 13.0131 6.66683 12.8435 6.66683 12.6667ZM4.66683 12C4.49002 12 4.32045 12.0703 4.19543 12.1953C4.0704 12.3203 4.00016 12.4899 4.00016 12.6667C4.00016 12.8435 4.0704 13.0131 4.19543 13.1381C4.32045 13.2631 4.49002 13.3334 4.66683 13.3334C4.84364 13.3334 5.01321 13.2631 5.13823 13.1381C5.26326 13.0131 5.3335 12.8435 5.3335 12.6667C5.3335 12.4899 5.26326 12.3203 5.13823 12.1953C5.01321 12.0703 4.84364 12 4.66683 12ZM4.00016 15.3334C4.00016 15.1566 4.0704 14.987 4.19543 14.862C4.32045 14.7369 4.49002 14.6667 4.66683 14.6667C4.84364 14.6667 5.01321 14.7369 5.13823 14.862C5.26326 14.987 5.3335 15.1566 5.3335 15.3334C5.3335 15.5102 5.26326 15.6798 5.13823 15.8048C5.01321 15.9298 4.84364 16 4.66683 16C4.49002 16 4.32045 15.9298 4.19543 15.8048C4.0704 15.6798 4.00016 15.5102 4.00016 15.3334ZM7.3335 14.6667C7.15669 14.6667 6.98712 14.7369 6.86209 14.862C6.73707 14.987 6.66683 15.1566 6.66683 15.3334C6.66683 15.5102 6.73707 15.6798 6.86209 15.8048C6.98712 15.9298 7.15669 16 7.3335 16C7.51031 16 7.67988 15.9298 7.8049 15.8048C7.92992 15.6798 8.00016 15.5102 8.00016 15.3334C8.00016 15.1566 7.92992 14.987 7.8049 14.862C7.67988 14.7369 7.51031 14.6667 7.3335 14.6667ZM9.3335 15.3334C9.3335 15.1566 9.40373 14.987 9.52876 14.862C9.65378 14.7369 9.82335 14.6667 10.0002 14.6667C10.177 14.6667 10.3465 14.7369 10.4716 14.862C10.5966 14.987 10.6668 15.1566 10.6668 15.3334C10.6668 15.5102 10.5966 15.6798 10.4716 15.8048C10.3465 15.9298 10.177 16 10.0002 16C9.82335 16 9.65378 15.9298 9.52876 15.8048C9.40373 15.6798 9.3335 15.5102 9.3335 15.3334ZM12.6668 14.6667C12.49 14.6667 12.3204 14.7369 12.1954 14.862C12.0704 14.987 12.0002 15.1566 12.0002 15.3334C12.0002 15.5102 12.0704 15.6798 12.1954 15.8048C12.3204 15.9298 12.49 16 12.6668 16C12.8436 16 13.0132 15.9298 13.1382 15.8048C13.2633 15.6798 13.3335 15.5102 13.3335 15.3334C13.3335 15.1566 13.2633 14.987 13.1382 14.862C13.0132 14.7369 12.8436 14.6667 12.6668 14.6667Z'/></g></svg>") no-repeat;
        width: 20px;
        height: 20px;
        border-width: thin;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

progress {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    height: 0;
    overflow: hidden;
}

// input[type="radio"] {
//   /* сбрасываем обводку по фокусу */
//   &:focus {
//     outline: none;
//     box-shadow: none;
//   }
//   /* для Firefox убираем внутреннюю рамку */
//   &::-moz-focus-inner {
//     border: 0;
//   }
// }