
.spinner__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.blue .path {
  stroke: #045fdd;
}

.white .path {
  stroke: white;
}

.small .spinner {
  width: 20px;
  height: 20px;
}

.spinner {
    width: 40px;
    height: 40px;
    animation: rotate 1s linear infinite;
  }
  
  .path {
    /* Ниже задаём анимацию «пульса» штриховки */
    stroke-dasharray: 150;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
  }
  
  /* Вращаем весь svg */
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Анимация штриха «вперёд-назад» */
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  