/* Общий контейнер слайдера */
.customSlider {
  width: 100%;
  position: relative;
  height: 5px // Можно подгонять под нужный размер
}

/* Дорожка (трек) */
.customSliderTrack {
  position: relative;
  z-index: 3;
  height: 6px;
  width: 100%;
  background-color: #eee; // <-- Цвет трека по умолчанию
  cursor: pointer;
}

/* Если sliderTheme="gradient", то вся дорожка будет градиентной */
.customSliderTrack.gradient {
  background: linear-gradient(
    90deg,
    #07B021 -15.43%,
    #F9F100 35.85%,
    #F99500 59.07%,
    #E93147 125.08%
  );
  z-index: 3;
  position: relative;
}

/* Заполненная часть (только в default-режиме показываем). */
.customSliderTrackFill {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  height: 6px;
  border-radius: 3px;
  background-color: #045FDD; // для "обычного" режима
  // transition: width 0.2s;    // плавное изменение ширины
}

/* Ползунок (thumb) */
.customSliderThumb {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 33px;
  height: 33px;
  border: 5px solid white;
  background-color: #045FDD;
  border-radius: 50%;
  cursor: pointer;
  // transition: left 0.1s; // плавное перемещение
}

/* Если хотим, чтобы в градиентном режиме у ползунка был другой цвет, 
   добавим .gradient и переопределим:
*/
.customSliderThumb.gradient {
  /* Можно поставить любой цвет или градиент, например: */
  background-color: #045FDD;

}

.tick {
  top: -7px;
  width: 3px;
  height: 36px;
  border-top-left-radius: 2px;
  transform: translateX(-2px);
  border-top-right-radius: 2px;
  background-color: #C0C0C0; // или другой цвет, соответствующий вашему дизайну
}

.tick:nth-child(4) {
  transform: translateX(0);
  width: 3px;
}
.tick:nth-child(2) {
  transform: translateX(0);
}

.tick:nth-child(7) {
  transform: translateX(-3px);
  
}

.subline {
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 9px;
  display: flex;
  justify-content: space-between;
  height: 20px;
  background-color: rgba(240, 240, 243, 0.5);
  padding: 2px 3px;
  font-family: Inter;
font-weight: 400;
font-size: 11px;
line-height: 16px;
letter-spacing: 0%;
text-align: center;

&__text {
  opacity: 1;
}

}

.extraTick {
  position: absolute;   
  left: 0.5px;        // поднимите/опустите по вкусу
  transform: translateX(-50%);
  width: 0;
  height: 0;
  /* анимация качания */
  animation: bounce 1s ease-in-out infinite;
}

.extraTick::before,
.extraTick::after {
  content: "";
  position: absolute;
  bottom: -2px;              // начинаем от «точки» соединения
  width: 2px;
  height: 8px;
  border-radius: 2px;
  background-color: #045FDD;
  transform-origin: bottom center;
}

.extraTick::before {
  transform: rotate(45deg) translateX(-1px);
}

.extraTick::after {
  transform: rotate(-45deg) translateX(1px);
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(2px);
  }
}
