.checkbox__text {
    font-family: var(--font-inter);
    font-size: 12px;
    line-height: 16px;
    color: #121B2F;
}

.checkbox__link {
    font-family: var(--font-inter);
    font-size: 12px;
    color: #005BD9;
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 19px 60px;
    font-family: var(--font-inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
}

.buttons__method {
    display: flex;
    justify-content: center;
    gap: 8px;
    max-width: 100%;
    width: 100%;

    &__title {
        display: block;
        width: 100%;
        font-family: var(--font-inter);
        font-size: 12px;
        text-align: start;
        line-height: 16px;
        color: #121B2F;
        margin-bottom: 10px;
    }
}

.buttons {
    background-color: white;
    bottom: 51px;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 23px;
    width: 100%;
    z-index: 1;

    &__title {
        display: block;
        width: 100%;
        font-family: var(--font-inter);
        font-size: 12px;
        text-align: start;
        line-height: 16px;
        color: #121B2F;
        margin-bottom: 10px;
    }
}

.shadow {
    box-shadow: 0px -1px 13.4px 0px #00000026;
}

.button_select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 27px;

    &__success {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
        justify-content: center;

        &__container {
            display: flex;
            gap: 4px;
        }

        &__description {
            font-family: var(--font-inter);
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: #0F0E0E;
        }
    }
}