:root {
    // шрифт
    // --font-family-main:
    //     "Montserrat",
    //     system-ui,
    //     -apple-system,
    //     "Segoe UI",
    //     roboto,
    //     "Helvetica Neue",
    //     "Noto Sans",
    //     "Liberation Sans",
    //     arial,
    //     sans-serif,
    //     "Apple Color Emoji",
    //     "Segoe UI Emoji",
    //     "Segoe UI Symbol",
    //     "Noto Color Emoji";

    // размеры шрифтов

    // цвета
    --black: #000;
    --white: #fff;
    --light-white: rgb(255 255 255 / 50%);
    // z-index
    --modal-z-index: 1011;
}
