@use '../../../app/styles/mixins' as mix;

.additionalMenu {
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__steps {
    color: #5A5A5A;
    font-family: var(--font-inter);
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    text-align: start;
  }

  &__title {
    font-family: var(--font-inter);
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    max-width: 290px;
    color: #0F0E0E;
    text-align: start;
  }

  &__tooltip {
    top: 24px;
    right: 32px;
  }

  &__tooltip_scrolled {
    top: 20px;
    right: 32px;
  }
}  

.header.shadow {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px 32px;
  left: 0;
  top: 4px;
  z-index: 1000;
  width: 100vw;
  background-color: white;
  box-shadow: 0px 0px 13.4px 0px #00000026;
  transition: box-shadow 0.3s ease-in-out;
}

@media (max-width: 350px) {
  .header.shadow {
    padding: 16px 21px;
  }
}


.additionalMenu {

  &__container {
    padding: 16px 32px;
    display: flex;
    gap: 32px;
    height: calc(100dvh - 50.5px);
    flex-direction: column;

    overflow: auto;
  }

  &__container_scrolled {
    padding-top: 83px;
  }
}

  .progressBar {
    display: flex;
    width: 100vw;
    height: 4px;
    background: #b4cff5;
    overflow: hidden;
  }
  
  .progressStep {
    flex: 1;
    transition: background 0.3s ease-in-out;
  }
  
  .progressStep.active {
    background: #045fdd;
  }
  
  .stepControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .stepControls button {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
  }

@include mix.respond-to('tablet-desktop') {
         .additionalMenu {
          background-color: #E1ECFB;
          padding: 32px;
          width: 100dvw;
          height: calc(100dvh - 56px);
          display: flex;
          align-items: center;

          &__container {
            position: relative;
            max-width: 960px;
            max-height: 662px;
            margin: 0 auto;
            background-color: white;
            border-radius: 15px;
            padding: 64px 60px 0;
          }
         }
         .progressBar {
          max-width: 992px;
          position: absolute;
          top: 24px;
          left: -32px;
         }

         .header__tooltip {
          top: 68px;
          left: 360px;
         }

         .header__title {
          max-width: none;
         }

}