
.Cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #BDCCFF2E 0%, #FFFFFF2E 100%);
    z-index: 1000000;
}



.Cover_vip {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E1ECFB;
    z-index: 1000000;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: fixed;
    }
}
