/* Button.module.scss */
.Button {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #ffffff; /* Fixed text color */
    font-size: 16px; /* Fixed font size */
    // padding: 15px; /* Fixed padding for medium size */
    background-color: #045FDD; /* Fixed background color */
    border: none;
    border-radius: 7px 0; /* Fixed border radius for partial bordered */
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 0.8;
    }

    &.disabled {
        background-color: #82AFEE;
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.partial_bordered {
    border-radius: 7px 0;
}

.background {
    color: #ffffff;
}

.blue {
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: #045FDD;
}

.emptyblue {
    color: #045FDD;
    border: none;
    background-color: white;
}

.green {
    background-color: #1CC15A;
    color: white;
    border: 1.4px solid none;

    &.disabled {
        background-color: white;
        opacity: 0.5;
        cursor: not-allowed;
    }
  }

  .green__underline {
    background-color: white;
        color: #1CC15A;
        border: 1.4px solid #1CC15A;
    
        &.disabled {
            background-color: white;
            opacity: 0.5;
            cursor: not-allowed;
        }
  }

  .red__underline {

      background-color: white;
        color: #EA3C4E;
        border: 1.4px solid #EA3C4E;
    
        &.disabled {
            background-color: white;
            opacity: 0.5;
            cursor: not-allowed;
        }
  }
  
.underline {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    text-align: center;
    color: #045FDD;
    border: 1.4px solid #045FDD;

    &.disabled {
        background-color: white;
        opacity: 0.5;
        cursor: not-allowed;
    }
  }

.circle {
    border-radius: 96px;
}


@keyframes clickAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }

  .Button.pressed {
    animation: clickAnimation 0.2s forwards;
  }