.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border-radius: 8px 8px 40px 40px;
    padding: 0 24px 24px 24px;
    min-width: 300px;
    height: calc(100% - 127px);
    text-align: center;
    overflow: auto;
    position: relative;
}

.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 19px 60.5px;
    width: 100%;
    font-family: var(--font-inter);
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
}
.subtitle {
    font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #989898;
        text-align: left;
        display: inline-block;
        width: 100%;
        margin-bottom: 8px;
}
.content {
}

@media (max-width: 450px) {
    .submitButton {
      padding: 19px 40.5px;
    }
  }