
@use '../../../app/styles/mixins' as mix;

.container {
    position: fixed;
    top: calc(50dvh - 331px);
    left: calc(50dvw - 480px);
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 1000;
    background: white;
        border-radius: 15px;
}

.widgetContent {
    position: relative;
    width: 960px;
    height: 575px;
    padding: 60px;

    z-index: 1000;
}

.title {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0F0E0E;
    text-align: start;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 25px;

    &__close {
        position: absolute;
        top: 36px;
        right: 36px;
    }
}

.list {
    display: flex;
   flex-direction: column;
    list-style: none;
    gap: 24px;

    &__item {
        display: flex;
        padding: 10px;
        justify-content: start;
        cursor: pointer;
            border-radius: 15px;

        &:hover {
            background-color: #f6f9ff;
            
            
        }
    }
}

.buttons {
    display: flex;
    max-width: 960px;
    width: 100%;
    z-index: 1000;
    padding: 16px 60px;
    border-radius: 15px;

    
}

.button {
    &:last-child {
        max-width: max-content;
    }
}

.activeItem {
    padding: 10px;

    background-color: #E1ECFB;
}

@include mix.respond-to('tablet-desktop') {

    .container {
            top: calc(50dvh - 303px);
            border-radius: 15px;
    }
}