.pdf__page {
    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        background-color:  #E1ECFB;
        width: calc(100dvw - 32px);
        height: 8px;
    }
}