.page {
    width: 100%;
    height: 100%;
    display: flex;

    &__wrapper {
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 16px;
    }

    & h1 {
        font-family: var(--font-inter);
    }

    &__container {
        width: 100%;
        background: radial-gradient(78.46% 78.46% at 22.59% 21.54%, #FFFFFF 0%, #BDCCFF 100%);
        border-radius: 10px 10px 40px 40px;
    }

    &__title {
        font-family: var(--font-inter);
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
        color: #0F0E0E;
        margin-bottom: 16px;
        max-width: 400px;
        margin: 0 auto;
        padding: 16px;
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        font-family: var(--font-inter);
        font-size: 12px;
        font-weight: 400;
        line-height: 14.52px;
        text-align: center;
        margin: 0 auto;
        padding: 0 16px;
        

        &__text {
            display: inline-block;
            text-align: center;
            max-width: 400px;
            margin: 0 auto;
        }
    }

    &__ranks {
        font-family:  var(--font-inter);
        font-size: 14px;
        font-weight: 700;
        line-height: 16.94px; 
        max-width: 400px;
        margin: 0 auto;
    }

    &__value {
        font-family:  var(--font-inter);
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        color: #5A5A5A;
    }

    &__description {
        max-width: 400px;
        margin: 0 auto;
        padding: 0 16px 16px 16px;
    }

    &__profitability {
        position: relative;
        height: 285px;
        width: 100%;
        background-repeat: no-repeat;
        max-width: 300px;
        margin: 0 auto 20px;
        background-image: url('../../shared/assets/images/StartPageBackground.png');
    }
}

.profitability {

    &__container {
       position: relative;
    }

    &__subtitle {
        position: absolute;
        left: 78px;
        top: 114px;
        font-family: var(--font-inter);
        font-size: 10px;
        font-weight: 400;
        line-height: 12.1px;
        text-align: center;
        display: inline-block;
        max-width: 135px;
    }

    &__value {
        position: absolute;
        left: 83px;
        top: 142px;
        font-family: var(--font-inter);
        font-size: 42px;
        font-weight: 500;
        line-height: 50.83px;
        text-align: center;
        display: inline-block;
        max-width: 120px;
    }
}

.button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    &__text {
        padding: 18px 19px 19px 23px;
        font-family: var(--font-inter);
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center ;
        width: 50px;
        height: 50px;
        background-color: #FFFFFF;
        border-radius: 50%;
        margin-right: 6px;
    }
}

@media (min-width: 650px) {

    .page {

        &__content {
            padding: 41px 41px 20px 41px;
            max-height: max-content;
        }

        &__container {
            min-height: none;
        }

        &__main {
            display: flex;
            flex-direction: column;
            max-width: 50%;
            gap: 26px;
        }

        &__content {
            flex-direction: row;
        }

        &__title {
            max-width: 100%;
            margin: 0;
            padding: 0;
            font-size: 58px;
            font-weight: 500;
            line-height: 100%;
        }

        &__description {
            max-width: 100%;
            margin: 0;
            padding: 0;
            margin-bottom: 50px;
        }

        &__value {
             font-size: 20px;
             line-height: 100%;
        }

        &__ranks {
            font-size: 20px;

        }

        &__profitability {
        position: relative;
        max-width: 498px;
        height: 469px;
        background-repeat: no-repeat;
        background-image: url('../../shared/assets/landing/StartPageLandingDesktop.png');
        }

        &__subtitle {
            justify-content: start;
            align-items: start;
            margin: 0;
            padding: 0;

        }

        &__subtitle__text {
            max-width: 370px;
            text-align: left;
            margin: 0;
            font-size: 14px;
            margin-bottom: 10px;
        }

    }

    .button {
        max-width: 370px;
        margin: 0;
    }

    .profitability {

        
         &__subtitle {
        position: absolute;
        left: 138px;
        top: 190px;
        font-family: var(--font-inter);
        font-size: 16px;
        font-weight: 500;
        line-height: 12.1px;
        text-align: center;
        display: inline-block;
        max-width: 205px;
    }

    &__value {
        position: absolute;
        left: 140px;
        top: 232px;
        font-family: var(--font-inter);
        font-size: 70px;
        font-weight: 600;
        line-height: 50.83px;
        text-align: center;
        display: inline-block;
        max-width: 120px;
    }

    

    }

    

    

    
}