@use '../../../app/styles/mixins' as mix;

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.detailed__actions {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
    bottom: 0;
    box-shadow: 0px -1px 13.4px 0px #00000026;
    height: 168px;
    background-color: white;
    width: 100%;
    left: 0;
}

.page {

    &__container {
      position: absolute;
      padding: 0 16px;
      bottom: 0;
      left: 0;
      width: 100dvw;
      background-color: white;
  
      &::after {
        position: absolute;
        content: '';
        top: 72px;
        left: 0;
        background-color: #EBEBED;
        width: 100dvw;
        height: 1px;
      }
    }
  
    &__checkbox {
      max-height: 74px;
      padding: 18px 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0%;
      margin-bottom: 10px;
    }
  }
  
  .checkbox__text {
    font-size: 12px;
    max-width: 250px;
  }
  
  .method {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  
    &__title {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 16.94px;
      letter-spacing: 0%;
      color: #989898;
      margin-bottom: 10px;
    }
  }
  
  .buttons {
    background-color: white;
    padding: 16px 20px;
    bottom: 50px;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 23px;
    width: 100%;
    z-index: 10;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18.5px 42px;
    width: 100%;
  }
  
  .shadow {
    box-shadow: 0px -1px 13.4px 0px #00000026;
  }

  .confirm__title {
    position: absolute;
    top: 56px;
    left: 0;
    cursor: pointer;
    display: flex
;
box-shadow: 0px 4px 13.4px -4px rgba(0, 0, 0, 0.16);

    align-items: center;
    padding: 13px 16px;
    background-color: white;
    gap: 9px;
    color: #0F0E0E;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
  }

  .checkbox {
    padding-left: 16px;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }

  .confirm__container {
    position: fixed;          // ключ: не влияем на layout
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
  }

  .confirm__card {
    position: absolute;
    top: 122px;
    max-width: calc(100vw - 32px);
    left: 16px;
    max-height: calc(100dvh - 382px);
    overflow-y: auto;
  }

  @include mix.respond-to('tablet-desktop') {

    .page {

    }

    .list {
      display: flex;
      width: 100%;
      margin-top: 30px;
      justify-content: space-between;
      flex-direction: row;
    }

        .confirm__container {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .confirm__title {
      display: none;
    }

    .confirm__card {
      max-width: 875px;
      width: 100%;
      top: 104px;
      left: 42px

    }

    .page__container {
      display: flex;
      align-items: center;
      position: absolute;
      width: 100%;
      justify-content: space-between;

      & > div:nth-child(2) {
        order: -1;
      }

      & > div:nth-child(1) {
        margin-right: -180px;
      }

      &::after {
        top: 0;
        width: 100%;
      }
    }

    .detailed__actions {
      position: absolute;
      max-height: 100px;
      bottom: 0;
      flex-direction: row;
      border-radius: 0 0 15px 15px;
    }

    .button {
      max-width: max-content;
    }

    .buttons {
      padding: 0;
      max-width: max-content;
    }
}