@use '../../app/styles/mixins' as mix;

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 16px;

    &__title {
        display: flex;
        align-items: center;
        gap: 9px;
        color: #0F0E0E;
        font-weight: 500;
        font-size: 24px;
        line-height: 28.8px;
        letter-spacing: 0%;
    }

    &__container {
        display: flex;
        gap: 32px;
        flex-direction: column;
        flex-grow: 1;
    }
}

.button__green {
    background-color: green;
    max-width: 108px;
    padding: 7px 16px;
font-weight: 500;
font-size: 14px;
line-height: 16.94px;
letter-spacing: 0%;
text-align: center;

}

.button__red {
    opacity: 0.5;
    max-width: 108px;
    padding: 7px 16px;
font-weight: 500;
font-size: 14px;
line-height: 16.94px;
letter-spacing: 0%;
text-align: center;

}

.button__gray {
    background-color: #0666EB;
    max-width: 108px;
    padding: 7px 16px;
font-weight: 500;
font-size: 14px;
line-height: 16.94px;
letter-spacing: 0%;
text-align: center;

}

.document__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.document__preview {
    padding: 7px 16px;
    max-width: max-content;
    font-weight: 500;
font-size: 14px;
line-height: 16.94px;
letter-spacing: 0%;
text-align: center;
}

.document__info__flex {
    display: flex;
    align-items: center;
justify-content: start;
    gap: 16px;
}

.document__item {
    position: relative;
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 16px;

    &::after {
        position: absolute;
        bottom: 0;
        left: -16px;
        content: '';
        width: 99dvw;
        height: 1px;
        background-color: #EBEBED;
    }
}

.document__status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
    gap: 14px;
    max-width: max-content;
}

.document__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    letter-spacing: 0%;
    text-align: end;
    color: #797979;
}

.documents__warning {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    gap: 4px;
    line-height: 14.52px;
    letter-spacing: 0%;
    align-items: center;
    color: #797979;
}

.documents__timer {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    letter-spacing: 0%;
    text-align: end;
    color: #797979;
    margin-bottom: 4px;
}

.documents__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-x: hidden;
    max-height: 100%
}

.document__button_success {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    text-align: center;
    color: #0F0E0E;
}

.document__paymentStatus {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4CB913

}

@include mix.respond-to('tablet-desktop') {

    
.bulkToolbar {
    padding-left: 32px;
}

     .page {
         max-width: 950px;
         height: 100%;
         margin: 0 auto;

    }
    .page__title {
        padding-left: 42px;

        & img {
            cursor: pointer;
        }
        & h2 {
            padding-left: 0;
        }
    }


    .page__container {
        display: flex;
         overflow-y: hidden;
        justify-content: space-between;
        flex-direction: column;
        max-width: 950px;

        max-height: 662px;
        padding: 42px 0;
                 background-color: white;
                 border-radius: 25px;
    }

    .documents__list {
        overflow-y: auto;
        padding: 0 42px;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 520px;

         & .document__item {
             &:first-child {
           & .document__info__flex {
                        justify-content: start;
            & .document__status {
                display: flex;
                justify-content: start;
                min-width: 158px;
            }
                }
        }
                
            }

       
    }

    .document__info {
        
        & > span {
            max-width: 400px;
        }
    }

    .document__info__flex {
        width: 326px;
        justify-content: end;
    }

    .document__button_success {
        width: 100%;
        justify-content: end;
    }

    .document__item {


        &::after {
            max-width: 866px;
        }
    }

    .document__status {
        display: flex;
        flex-direction: row;
        justify-content: end;
        max-width: max-content;
        width: 100%;
        min-width: 183px;
        gap: 47px;

    }



    .document__date {
        text-align: left;
    }

    .button {
        max-height: 35px;
    }

    .documents__warning {

        & span {
            max-width: max-content;
            text-align: right;
        }
    }
}
.bulkButton {
    max-width: 400px;
}


//   .documents__list__shadow_top {
//     max-height: 520px;
//     box-shadow: inset 0 6px 6px -4px rgba(0, 0, 0, 0.1);
//   }
  
//   .documents__list__shadow_bottom {
//     max-height: 520px;
//     box-shadow: inset 0 -6px 6px -4px rgba(0, 0, 0, 0.1);
//   }