.subtitle {
    font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
max-width: 70vw;
margin-bottom: 36px;

}

.modalContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: max-content;
    // justify-content: space-between;
    padding: 0 24px 24px;
}

.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 19px 107px;
    max-width: 100%;
}

.codeInput__container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 16px 0;
    width: 100%;
  }
  
  .codeInput__box {
    min-width: 64px;
    width: 25vw;
    height: 64px;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 43px;
    font-weight: 300;
    line-height: 58.05px;
    text-align: center;
    color: #121B2F;
    border: none; 
    border-bottom: 2px solid #D4D4E8;
    border-radius: 0;
    transition: border-color 0.3s ease;

    -webkit-appearance: none; 
    -webkit-border-radius: 0 !important; // Отключаем сафари-стили
    appearance: none;      // Убираем закругление
    outline: none;
  /* остальной нужный вам минимальный стиль */
  
    &:focus {
      border-color: #045FDD;
    }
  }


  .method {
    display: flex;
    justify-content: center;
    gap: 8px;
    max-width: 100%;
    width: 100%;
    max-height: 30px;
    margin-bottom: 10px;
}

.methodTitle {
    display: block;
    width: 100%;
    font-family: var(--font-inter);
    font-size: 12px;
    text-align: start;
    line-height: 16px;
    color: #989898;
    margin-bottom: 20px;
}

.modalContent__shadow_top {
    box-shadow: inset 0px 10px 13.4px -5px rgba(0, 0, 0, 0.15);
}

.button {
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 2;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 0 0 40px 40px;
    padding: 16px;
}

.shadow {
    box-shadow: 0px -1px 13.4px 0px #00000026;
}