.progressBarContainer {
    position: relative; 
    width: 100%;
    height: 4px;
    background-color: #B4CFF5;
    overflow: hidden;
}

.progressBarFill {
    height: 100%;
    background-color: #045FDD;
    transition: width 0.3s ease;
}

/* Анимация shimmer на контейнере */
.progressBarContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;  // начнёт анимацию с левой стороны за пределами контейнера
    width: 50%;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.678) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-25deg);
    animation: shimmer 2s infinite;
}

@keyframes shimmer {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
