.buttons {
    position: fixed;
    background-color: white;
    padding: 16px 20px;
    bottom: 51px;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 23px;
    width: 100%;
    z-index: 1;
}

.shadow {
    box-shadow: 0px -1px 13.4px 0px #00000026;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18.5px 23px;
    max-width: 40vw;
    width: 100%;
}

.button_back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18.5px 23px;
    max-width: 40vw;
    width: 100%;
    font-weight: 500;
    color: #045FDD;
}

.balans {
    margin-right: 4px;
    font-family: var(--font-inter);
    color: #989898;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;

}
.form__item__tooltip {
    position: absolute;
    right: 20px;
    top: 10px;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-grow: 1;
    scrollbar-width: none;
}

.form__form {
    display: flex;
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
        gap: 20px;
        margin-bottom: 67px;
}

.form__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        max-height: 300px;
        flex-grow: 1;
        margin-bottom: 18px;
        max-height: 72px;
}

.form__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-height: 168px;

    &::after {
        position: absolute;
        bottom: 0;
        left: -32px;
        content: '';
        width: 100dvw;
        height: 1px;
        background-color: #EBEBED;
    }
}

.form__final {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.potential__capital__change {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #0F0E0E;
}

.parametrs {
    margin-right: 4px;
    font-family: var(--font-inter);
    color: #989898;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    margin-bottom: 4px;

    &__value {
        font-family: var(--font-inter);
        font-weight: 500;
        font-size: 16px;
        line-height: 19.36px;
        letter-spacing: 0%;
        color: #E99F00;
    }
}

.form__item__tooltip {
    right: -30px;
    top: 0;
}

.form__item_potintial {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    position: relative;
    height: 100%;
    max-height: 150px;
}

.form__item__potintial__title {
    display: inline-block;
    color: #989898;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
}


.form__item__potintial__title_red {
    display: inline-block;
    color: #E93147;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
}

.form__item__potintial__title_green {
    display: inline-block;
    color: #07B021;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
}

.form__item__balans {
    position: relative;
}

.form__item_potintial__container {
    max-width: 160px;
    position: relative;
}

.form__item__tooltip_specified {
    top: 0;
    right: 40px;
}

.report {
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: start;
    text-align: left;
}

.report__value {
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: start;
    text-align: left;
}

.report__container {
    font-family: var(--font-inter);
    max-width: 90%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    background-color: #B4CFF566;
    border-radius: 15px;
    padding: 10px 16px;
}

.form__item__tooltip_report {
    top: 14px;
    right: 0;
}