.buttons {
    position: fixed;
    background-color: white;
    padding: 16px 20px;
    bottom: 51px;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 23px;
    width: 100%;
    z-index: 1;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18.5px 23px;
    max-width: 40vw;
    width: 100%;
}

.button_back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18.5px 23px;
    max-width: 40vw;
    width: 100%;
    font-weight: 500;
    color: #045FDD;
}

.balans {
    margin-right: 4px;
    font-family: var(--font-inter);
    color: #989898;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;

}
.form__item__tooltip {
    position: absolute;
    right: 20px;
    top: 10px;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-grow: 1;
    scrollbar-width: none;
}

.form__form {
    display: flex;
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
        gap: 20px;
        margin-bottom: 67px;
}

.form__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        max-height: 300px;
        flex-grow: 1;
        margin-bottom: 18px;
        max-height: 72px;
}

.form__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-height: 168px;

    &::after {
        position: absolute;
        bottom: 0;
        left: -32px;
        content: '';
        width: 100dvw;
        height: 1px;
        background-color: #EBEBED;
    }
}

.parametrs {
    margin-right: 4px;
    font-family: var(--font-inter);
    color: #989898;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    margin-bottom: 4px;

    &__value {
        font-family: var(--font-inter);
        font-weight: 500;
        font-size: 16px;
        line-height: 19.36px;
        letter-spacing: 0%;
        color: #E99F00;
    }
}

.form__item__tooltip {
    right: -30px;
    top: 0;
}

.form__item__potintial {
    position: relative;
    height: 100%;
    min-height: 300px;
    padding-bottom: 40px;
}

.form__item__potintial__title {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    color: #989898;
}