.notifications {

    &__title {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;

        &__title {
font-weight: 500;
font-style: Medium;
font-size: 24px;
line-height: 120%;
letter-spacing: 0%;


        }

        &__count {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #045FDD;
            padding: 1px 8px;
            border-radius: 16px;
            color: white;
           margin-top: 4px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        
    }
}